[Unit]
Description=Equate immutable release stack
Requires=docker.service equate-init.service equate-release-load.service
After=docker.service equate-init.service equate-release-load.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/equate/equate-stack start
ExecStop=/usr/lib/equate/equate-stack stop
TimeoutStartSec=5min
TimeoutStopSec=90s

[Install]
WantedBy=multi-user.target
