[Unit]
Description=Equate privileged appliance manager socket
Requires=equate-init.service
After=equate-init.service

[Service]
Type=simple
Group=equate
ExecStart=/usr/local/bin/equate manager
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
